:root {
    --primary-color: rgba(0,0,0,1);
    --secondary-color: rgba(0,4,37,1);
    --text-color: #ffffff;

}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,4,37,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    text-align: center;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
    min-height: 300px;
}

.goodMessage, .badMessage {
    display: block;
    margin: 10px auto;
    width: 250px;
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
}

.goodMessage {
    background-color: green;
    color: var(--text-color);
}

.badMessage {
    background-color: red;
    color: var(--text-color);
}

#passwordInput{
    font-size: 2rem;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    border-style: ridge;
    color: var(--text-color);
    width: 500px;
    height: 30px;
}

#passwordButton{
    position: relative;
    top: 0.5px;
    left: -55px;
    border-radius: 25px;
    border-style: ridge;
    background-color: var(--primary-color);
    color: var(--text-color);
    height: 54px;
    width: 50px;
    font-size: 2rem;
}
